@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');
// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Slab', serif;

// Color
$primary-color: #6200ee;
$primary-variant-color: #3700b3;
$secondary-color: #03dac6;
$secondary-variant-color:  #018786;

$font-on-primary: #fff;
$font-on-secondary: #000;